.App {
  /* text-align: center; */
  /* margin-top: 100px; */
  width: 50%;
  margin: auto;
  height: auto;
  border: 1px solid #e5dede;
}
.App .header{
  padding: 10px 5px;
  display: flex;
  border-bottom: 1px solid #bebebb;

}
.App .header input{
  padding-left: 10px;
  font-weight: 300;
  font-size: 26px;
  color: #4d4d4d;
  width: 100%;
  border: none;
}
.App .header input:focus{
  outline: none;
}
.App .header input::placeholder{
  opacity: 0.2;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#root{
  margin-top: 100px;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
